.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile

slides/**/*.html
notes/**/*.html
hw/**/*.html
Tutorials/*.key
__MACOSX*
assignments/**/*.html
**/*cache/*
.drake/*
GSE123519*
docs/slides/lectures/05-Plotting_files/*
slides/lectures/05-Plotting_files/*
slides/lectures/data/*
slides/lectures/img/*
slides/lectures/06-joins-plots_files/*
docs/notes/*
docs/assignments/HW/*.R
docs/toplevel/*
docs/Makefile
*.swp
slides/lectures/*files/*
docs/slides/lectures/**/*cache/*
Projects/*
docs/Projects/**/*.csv
docs/Projects/**/*.xls*
docs/Projects/**/*.zip
docs/Projects/**/*.Rproj
docs/Projects/December 18/late/Kamil Kruczek/R-class-final-project-sc-analysis-of-retinal-organoids.html

slides/site_libs/*

# Adds 2020 Fall
docs/toplevel/*
docs/slides_top/*
*.tex
docs/make_subdirs
*.log

assignments/HW/*_files/*
assignments/WH/*_cache/*
