.Rproj.user
.Rhistory
.RData
.Ruserdata
slides/**/*.html
notes/**/*.html
hw/**/*.html
Tutorials/*.key
img/*
assignments/**/*.html
.drake/*
slides/lectures/*cache/*
docs/slides/lectures/05-Plotting_cache/*
docs/slides/lectures/05-Plotting_files/*
slides/lectures/05-Plotting_files/*
slides/lectures/data/*
slides/lectures/img/*
slides/lectures/06-joins-plots_files/*
docs/notes/*
docs/assignments/HW/*.R
docs/_top_level/*
_top_level/*
Projects/*
docs/Projects/**/*.csv
docs/Projects/**/*.xls*
docs/Projects/**/*.zip
docs/Projects/**/*.Rproj
docs/Projects/December 18/late/Kamil Kruczek/R-class-final-project-sc-analysis-of-retinal-organoids.html
